.venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.DS_Store
*.log
*.csv

# Local logs and debug files
*_logs.txt
*_error.txt
error_*.txt
report.txt
db_health.json

# Dataset directory
OULAD/

# Docemuntation
*_Documentation.md